# Data Analysis in Python - IV: Summarizing Data

## Introduction

In this lesson, we will learn how summarize the data available in a dataframe. 

Note: 
1. Use the TOC to navigate between sections.

## Summary Statistics for the DataFrame

We can use the `describe()` function for a quick summary of the data.

In [19]:
# Load the dataset into a DataFrame

import pandas as pd

povData = pd.read_csv('../scratch/PovertyData.csv', sep=',',na_values="*")
povData.head()

,LiveBirthRate,DeathRate,InfantDeaths,MaleLifeExpectancy,FemaleLifeExpectancy,GNI,Region,Country
0,24.7,5.7,30.8,69.6,75.5,600.0,1,Albania
1,12.5,11.9,14.4,68.3,74.7,2250.0,1,Bulgaria
2,13.4,11.7,11.3,71.8,77.7,2980.0,1,Czechoslovakia
3,12.0,12.4,7.6,69.8,75.9,NaN,1,Former_E._Germany
4,11.6,13.4,14.8,65.4,73.8,2780.0,1,Hungary

In [18]:
povData.describe()

,LiveBirthRate,DeathRate,InfantDeaths,MaleLifeExpectancy,FemaleLifeExpectancy,GNI,Region
count,97.000000,97.000000,97.000000,97.000000,97.000000,91.000000,97.000000
mean,29.229897,10.836082,54.901031,61.485567,66.151134,5741.252747,3.948454
std,13.546695,4.647495,45.992584,9.615970,11.005391,8093.679853,1.740277
min,9.700000,2.200000,4.500000,38.100000,41.200000,80.000000,1.000000
25%,14.500000,7.800000,13.100000,55.800000,57.500000,475.000000,3.000000
50%,29.000000,9.500000,43.000000,63.700000,67.800000,1690.000000,4.000000
75%,42.200000,12.500000,83.000000,68.600000,75.400000,7325.000000,6.000000
max,52.200000,25.000000,181.600000,75.900000,81.800000,34064.000000,6.000000

Why is the count of the GNI column lower?

## Summary Statistics for Subsets

You can also calculate statistics for individual columns or specific subsets of the data.

In [4]:
# min live birth rate
povData['LiveBirthRate'].min()

9.7

In [6]:
# max death rate among the first 20 countries
povData.iloc[0:20,1].max()

18.0

In [7]:
povData.iloc[0:20]['DeathRate'].max()

18.0

In [8]:
# min or birth rate and death rate
povData[['LiveBirthRate','DeathRate']].min()

LiveBirthRate    9.7
DeathRate        2.2
dtype: float64

Sometimes you may want to retrieve the index of the row with a specific value. For example, the index of the row with the lowest live birth rate.

In [9]:
# index of the row that has the min live birth rate
povData['LiveBirthRate'].idxmin()

30

The default behaviour is to compute the statistics across rows (i.e., summarize all values for a column for all rows in the subset). To perform the operation across various columns of a row, you can specify `axis=1` or `axis='columns'`.

In [11]:
# min of death rate and infant deaths for each country
povData[['DeathRate','InfantDeaths']].min(axis='columns')

0      5.7
1     11.9
2     11.3
3      7.6
4     13.4
      ...
92    15.6
93    14.0
94    14.2
95    13.7
96    10.3
Length: 97, dtype: float64

Familiarize yourself with the available summary functions.

## Bivariate Statistics

Some summary statistics are calculated on more than one variable. These are supported with specific functions. Let us try some examples.

In [10]:
# calculate correlation between male and female life expectancy
povData['MaleLifeExpectancy'].corr(povData['FemaleLifeExpectancy'])

0.9825578248134278

In [11]:
# calculate pairwise correlations for all numeric columns in the data
povData.corr()

,LiveBirthRate,DeathRate,InfantDeaths,MaleLifeExpectancy,FemaleLifeExpectancy,GNI,Region
LiveBirthRate,1.000000,0.486197,0.858353,-0.866519,-0.894414,-0.629059,0.716883
DeathRate,0.486197,1.000000,0.654623,-0.733467,-0.693033,-0.302754,0.339988
InfantDeaths,0.858353,0.654623,1.000000,-0.936838,-0.955352,-0.601647,0.632524
MaleLifeExpectancy,-0.866519,-0.733467,-0.936838,1.000000,0.982558,0.642963,-0.639382
FemaleLifeExpectancy,-0.894414,-0.693033,-0.955352,0.982558,1.000000,0.650040,-0.693409
GNI,-0.629059,-0.302754,-0.601647,0.642963,0.650040,1.000000,-0.283399
Region,0.716883,0.339988,0.632524,-0.639382,-0.693409,-0.283399,1.000000

## Unique Values, Counts and, Membership

pandas includes functions that can provide information about counts, list unique values and test membership.

Write code below and add notes explaining what the function does.

In [12]:
# use count() with Region column
povData['Region'].count()

97

In [16]:
# use count() with GNI column
povData['GNI'].count()

91

`count()` -

In [14]:
# use nunique() with Region column 
povData['Region'].nunique()

6

`nunique()` -

In [15]:
# use value counts with Region column
povData['Region'].value_counts()

6    27
3    19
5    17
2    12
1    11
4    11
Name: Region, dtype: int64

`value_counts()` -

In [17]:
# use unique() with Region column
povData['Region'].unique()

array([1, 2, 3, 5, 4, 6])

`unique()` -

In [23]:
# use isin with Region column as shown
povData[povData['Region'].isin([1,2])]

,LiveBirthRate,DeathRate,InfantDeaths,MaleLifeExpectancy,FemaleLifeExpectancy,GNI,Region,Country
0,24.7,5.7,30.8,69.6,75.5,600.0,1,Albania
1,12.5,11.9,14.4,68.3,74.7,2250.0,1,Bulgaria
2,13.4,11.7,11.3,71.8,77.7,2980.0,1,Czechoslovakia
3,12.0,12.4,7.6,69.8,75.9,NaN,1,Former_E._Germany
4,11.6,13.4,14.8,65.4,73.8,2780.0,1,Hungary
5,14.3,10.2,16.0,67.2,75.7,1690.0,1,Poland
6,13.6,10.7,26.9,66.5,72.4,1640.0,1,Romania
7,14.0,9.0,20.2,68.6,74.5,NaN,1,Yugoslavia
8,17.7,10.0,23.0,64.6,74.0,2242.0,1,USSR
9,15.2,9.5,13.1,66.4,75.9,1880.0,1,Byelorussian_SSR
10,13.4,11.6,13.0,66.4,74.8,1320.0,1,Ukrainian_SSR
11,20.7,8.4,25.7,65.5,72.7,2370.0,2,Argentina
12,46.6,18.0,111.0,51.0,55.4,630.0,2,Bolivia
13,28.6,7.9,63.0,62.3,67.6,2680.0,2,Brazil
14,23.4,5.8,17.1,68.1,75.1,1940.0,2,Chile
15,27.4,6.1,40.0,63.4,69.2,1260.0,2,Columbia
16,32.9,7.4,63.0,63.4,67.6,980.0,2,Ecuador
17,28.3,7.3,56.0,60.4,66.1,330.0,2,Guyana
18,34.8,6.6,42.0,64.4,68.5,1110.0,2,Paraguay
19,32.9,8.3,109.9,56.8,66.5,1160.0,2,Peru
20,18.0,9.6,21.9,68.4,74.9,2560.0,2,Uruguay
21,27.5,4.4,23.3,66.7,72.8,2560.0,2,Venezuela
22,29.0,23.2,43.0,62.1,66.0,2490.0,2,Mexico

`isin()` -